
.thank-to-clients {
    
    font-family:"Open Sans",Arial;
    text-align:center;
    
    &__title {
	font-size:44px;
	font-family:"Lato Light",Arial;
	
	padding:75px 0 22px 0;
	margin:0 0 0 0;
    }
    
    &__short-description {
	margin:0;
	line-height:25px;
	font-size:15px;
	padding:18px 85px 0 85px;
    }
    
    hr {
	background-color:#626E62;
	color:#626E62;
	width:200px;
    }
}








